.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 6rem; */
    min-height: 200vh;
  }
  
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    height: 10%;
    margin-bottom: 3%;
    /* border: 1px solid red; */
  }
  
  .logo{
    margin: 15px;
    font-size: 68px;
    font-weight: bold;
    background-color: #5C6AC4;
    background-image: linear-gradient(to left, #8B5CF6 0%, #5C6AC4 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }
  .links{
    font-size: 20px;
    display: flex;
    gap: 10%;   
    width: 25%;
    margin-right: 15px;
    margin-top: 10px;
    text-shadow: 1px 1px 2px #BDC1C5;
    /* border: 1px solid red; */
  }
  .link, .link2{
    text-decoration: none;
  }
  .link2 {
    font-weight: bold;
    color:#8B5CF6
  }
  .link2:hover, .link:hover, .but:hover, .but2:hover{
    transform: scale(1.1);
  }

  .content{
    width: 100%;
    columns: 2;
    flex-direction: column;
  }
  .learn, .do, .content, .main, .nav {
    border: 1px solid #8B5CF6;
    padding: 20px;
  }